@import '../../styles/mixin.scss';
#root {
  height: 100%;
}
.login-page {
  height: 100%;
  position: relative;
  background-color: #324057;
  section {
    @include ctt;
    background-color: #fff;
    width: 350px;
    padding: 25px;
    border-radius: 5px;
    .manage-tip {
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 34px;
    }
    p {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: red;
    }
  }
  .login-form {
    max-width: 300px;
  }

  .login-form-button {
    width: 100%;
  }
}
