h1{ 
  font-size: 30px;
  text-align: center;
}
.home1{
  margin: 10px 0 0 0;
  
span{
  text-align: center;
  width: 130px;
  display: inline-block;
  margin: 0 30px 0 30px;
  font-size: 16px;
  border-radius:6px;
  padding: 6px 10px 6px 10px;
  background-color: #e5e9f2
}
.today{
  font-size: 22px;
  background-color: rgb(255, 175, 2);
  color: white;
}
}
.home2{
  margin: 10px 0 0 0;
  span{ 
    text-align: center;
    width: 130px;
     display: inline-block;
    margin:  0 30px 0 30px;
    font-size: 16px;
    border-radius:6px;
    padding: 6px 10px 6px 10px;
    background-color: #e5e9f2
  }
  .zong{
    font-size: 22px;
    background-color: rgb(0, 183, 255);
    color: white;
    }
  }