@import '../../styles/mixin.scss';
.manage {
  height: 100%;
  .sider-bar {
    // background-color: #324157;
    .ant-menu-inline {
      > .ant-menu-submenu > .ant-menu-submenu-title {
        height: 50px;
        line-height: 50px;
      }

      > .ant-menu-item {
        height: 50px;
        line-height: 50px;
      }
    }
  }
  .header-container {
    background-color: #001529;
    @include fj();
    .breadcrumb {
      line-height: 64px;
      a {
        color: #ffffffa6;
      }
      span {
        color: #ffffffa6;
      }
    }
  }
  .main-content {
    background-color: #fff;
  }
}
